API_URL=

SERVER_PORT=8443

#DB
DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=

#SMTP
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=

#JWT
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_RESET_PASSWORD_SECRET=

#INTERNAL AUTH
INTERNAL_AUTH_SHARED_SECRET=
INTERNAL_AUTH_ISSUER=wildhunt-auth-service
INTERNAL_AUTH_AUDIENCE=wildhunt-launcher
